<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="script.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
    <title>You Got Mail WebApp</title>
</head>

<body>
    <div id="app">
        <!-- <header style="margin-top: 30px; margin-bottom: 30px;">
            <h1 style="text-align: center; color:yellow;">PostMaster3000</h1>
        </header> -->
        <div class="card-container">
            <div class="card">
                <img class="card-img-top" src="imgs/mailbox2.png" alt="mailbox">
                <div class="card-body">

                    <!-- <div v-if="mails.length">
                        <div>
                            <h2 class="card-title" style="text-align: center;">Du har post!</h2>
                        </div>
                        <p> {{ getLastMail.id }} - {{ getLastMail.title }}  </p>
                    </div>
                    <div v-else>
                        <h2 class="card-title" style="text-align: center;">Du har ingen post</h2>
                    </div> -->
                    
                    <div v-if="mails.length">
                        <div>
                            <h4 class="card-title" style="text-align: center;">Du har post!</h4>
                            <p>Seneste leveringer:</p>
                        </div>
                        <p v-for="mail in mails.slice(0,5)"> {{ mail.id }} - {{ ConvertUnix(mail.unixTimeStamp) }} </p>
                    </div>
                    <div v-else>
                        <h2 class="card-title" style="text-align: center;">Du har ingen post</h2>
                    </div>

                    <div class="button-container">
                        <p><button class="btn btn-success" v-on:click="clearMail">Post afhentet</button></p>
                        <p><a href="all.html" class="btn btn-warning">Se alle leveringer</a></p>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container" style="text-align: center; padding-bottom: 5px;">
                <p class="text-warning">PostNord &copy; PostMasters 2022<br>
                    <a href="privacy.html">Privatlivs politik</a>
                </p>
            </div>
        </footer>
    </div>
</body>

</html>